@using Web.Helpers

<script src="~/Scripts/jquery-1.10.2.js"></script>

<h1>Welcome!</h1>
<div>
    @if (User.IsInRole("Teacher"))
    {
        <div>
            You are using teacher account.
        </div>
    }
</div>
<td>This is a system for testing students.</td>

<br />
<br />
<br />

<p>
    <h2>Students</h2>
    <td>Please click @Html.ActionLink("HERE", "Students", "Information") to see and manipulate students data.</td>
</p>

<br />

<p>
    <h2>Thematic Areas</h2>
    <td>Please click @Html.ActionLink("HERE", "Index", "ThematicArea") to see and manipulate students data.</td>
</p>

<br />

</p>
    <h2>Tests</h2>
    <td>Sorry, no tests available yet. Instead, you can look at this cute picture of stylish guinea pigs.</td>
</p>

<div>
    @Html.Image("http://blogs.discovery.com/.a/6a00d8341bf67c53ef0120a6649f2c970b-pi", 400, 600)
</div>




